{% extends 'base.html' %}
{% block titulo %}ghbeta | Index{% endblock %}
{% block catalogo %}
  <div class="alert alert-info" role="alert"><strong>Últimas Publicaciones</strong></div>
  	{% if registros %}
  		{% for reg in registros %}
      <div class="row">
        <div class="col-md-3">
          <img class="thumbnail"  src="/media/{{reg.imgportada}}"  height="80" width="108" alt="...">
        </div>
        <div class="col-md-9">
    			<ul class="list-inline">
                 <li><strong> {{ reg.encabezado }}</strong></li><br>
                 <li>{{ reg.direccion }}</li>
                 <li><strong>Terreno:</strong>{{ reg.terreno }}<strong> Baños:</strong>{{ reg.banos }}<strong> Recámaras:</strong>{{ reg.recamaras }}</li><br>
                 <li><p>{{ reg.comentarios }}</p></li><br>      
                 <li><a href="/detalle/registro/{{reg.id}}"><span class="label label-primary">Detalles</span></a></li>
          </ul>
        </div>
      </div>
      <hr>
  		{% endfor %}
  	{% endif %}
   <p><a href="/catalogo/page/1/">Ver Más...</a></p>
  {{catalogo}}
{% endblock %}