<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block titulo %}Base | ghbeta{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!--<img src="http://placehold.it/150x50&text=Logo" alt="">-->
                </a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url "index_vista" %}">Home</a>
                    </li>
                    <li>
                        <a href="/catalogo/page/1/">Publicaciones</a>
                    </li>
                    <li>
                        <a href="{% url "contacto_vista" %}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <br><br><br><br>

    <!-- inicio div principal del contenido -->
    <div class="container">
        <header>
             <h1>Bienvenido a Ghbeta</h1>
        </header>
        <section>
    	<div class="row">
    		<div class="col-md-4">
    			<img  src="/media/images/No_logo.jpg" alt="">
    		</div>
    		<div class="col-md-8">
                <article>
    			<p>Bienvenido al sitio, aqui encontrarás información acerca de inmuebles que están a la venta y renta en la región. Además de conocer nuestra empresa y los servcios que ofrecemos.</p>

                <p>Ya sea que tengas la necesidad de vender, comprar o rentar alguna propiedad, este es el sitio correcto. Navega para que nos conozcas y ponte en contacto con nosotros en la sección Contacto.</p>
                </article>
                
                <a class="btn btn-primary btn-lg" href="{% url "contacto_vista" %}">Contacto</a>
    		</div>
    	</div>
        </section>
        <hr>
        <!--  Seccion para links y mesahe de la empresa -->
        <section>
        <div class="row">
            <div class="col-md-3">
                <aside>
                    <div class="alert alert-info" role="alert"><strong>Enlaces</strong></div>
                    <ul>
                        <li><a href="#">Link1</a></li>
                        <li><a href="#">Link2</a></li>
                        <li><a href="#">Link3</a></li>
                        <li><a href="#">Link3</a></li>
                    </ul>
                </aside>
                <hr>
                <aside>
                    <ul>
                        <li><a href="/filtro/page/1/tipoinm/Apartamento/">Apartamentos</a></li>
                        <li><a href="/filtro/page/1/tipoinm/Departamento/">Departamentos</a></li>
                        <li><a href="/filtro/page/1/tipoinm/Casa/">Casas</a></li>
                        <li><a href="/filtro/page/1/tipoinm/Local/">Locales Comerciales</a></li>
                        <li><a href="/filtro/page/1/tipoinm/Terreno/">Terreno</a></li>
                        <li><a href="/catalogo/page/1/">Todos</a></li>
                    </ul>
                </aside>
                <hr>
                <aside>
                    <ul>
                        <li><a href="/filtro/page/1/tipoope/Venta/">Inmuebles en Venta</a></li>
                        <li><a href="/filtro/page/1/tipoope/Renta/">Inmuebles en Renta</a></li>
                        <li><a href="/filtro/page/1/tipoope/Traspaso/">Inmuebles en Traspaso</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                 {% block catalogo %}          
                 {% endblock %}
            </div>
        </div>
        </section>

		 <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ghbeta 2016 | Desarrollado por devcr</p>
                </div>
            </div>
        </footer>
    </div>

	 <!-- jQuery -->
    <script src="/media/js/jquery-1.12.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/media/js/bootstrap.js"></script>
</body>
</html>